*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
}

header {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(/img/design1_image1.jpg);
    height: 240px;
}

.logo {
    position: absolute;
    top: 170px;
    left: 1314px;
}

a {
    display: block;
    padding: 45px;
}

p>a {
    padding: 0;
}

nav {
    display: inline-block;
    
}

.container {
    display: inline-block;
    
}

.container-about {
    display: inline-block;
    width: 85%;
}

article {
    padding: 35px;

}