* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header & navbar */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    background-color: black;
    width: 70%;
    border-radius: 20px;
}

nav>a {

    text-decoration: none;
    color: white;
}

nav>a:hover {
    text-decoration: underline white;
}


.logo {

    width: 15px;
}



.container-about,
.container {
    position: absolute;
    display: inline-block;
    width: 50%;
    right: 150px;
    top: 165px;
}

.container {
    right: -0px;
    top: 200px;
}

.image-2 {
    position: absolute;
    top: 215px;
    left: 240px;
}

.image-2:hover {
    transform: scale(1.5);
}

article {
    padding: 20px 10px;
}

article:hover {
    border: 1px solid black;
}

h2 {
    text-align: center;
    position: relative;
    top: 93px;
    text-decoration: overline;
}